<!DOCTYPE html>

<head>
    <title>About</title>
    <link rel = "stylesheet" href= "/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Chirag Sharma. It uses data from Mapbox.com and Weatherstack.com</p>
        <img src="" alt="">
        <img class="portrait" src="/img/mybyk.jpg" alt="mybyk">
    </div>

    {{>footer}}
</body>
</html>